.homeBody {
  border: 0;
}

.heroMobile {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/homebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__search {
    position: absolute;
    right: 8%;
    top: 6%;
  }

  &__title {
    margin-top: 6%;
    color: var(--maincolor);
    font-family: "Righteous", cursive;
    font-size: 35px;
  }

  &__container {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__playbutton {
    background-image: url("../assets/play.svg");
    height: 70px;
    width: 70px;
  }

  @include medium {
    display: none;
  }
}

.heroMedium {
  height: 80vh;
  width: 100%;
  position: relative;
  padding-top: 2%;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;

  &__container {
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__video {
    top: 80px;
    width: 100%;
    position: relative;
    height: 60%;
    z-index: -2;
  }

  &__playbutton {
    cursor: pointer;
    background-image: url("../assets/play.svg");
    height: 70px;
    width: 70px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 35px);
  }

  &__content {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    justify-content: space-evenly;
  }

  &__type {
    color: var(--maincolor);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }

  &__title {
    color: var(--neutralwhite);
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }

  &__infos,
  &__description {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--neutralwhite);
    line-height: 27.5px;
  }

  &__favourite::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../assets/heart-fill.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  &__caroussel {
    position: relative;
    display: flex;
    width: 97%;
    display: flex;
    margin-left: 3%;
  }

  &__carousselElements {
    width: 100%;
    overflow: hidden;
  }

  &__episodes {
    width: 200%;
    height: 180px;
    display: flex;
  }

  &__episode {
    height: 100%;
    margin-right: 20px;
    width: 271px;
    background: blue;
    position: relative;
  }

  &__arrow {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--neutralwhite);
    background: rgba($color: #131313, $alpha: 0.3);

    &--right {
      position: absolute;
      right: 0;
    }
  }

  &__info {
    color: var(--neutralwhite);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 3%;
    margin-left: 3%;
    z-index: 2;
    position: absolute;
  }
  @include medium {
    display: flex;
  }
}
