.headerMobile {
  background-color: var(--maindark);
  width: 100%;
  height: 60px;
  z-index: 3;
  position: fixed;
  bottom: 0;
  color: white;
  font-family: "Roboto", sans-serif;

  .headerMobile__elements {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 14px 0px;
  }
  .headerMobile__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(1n + 2) {
      font-weight: 300;
      color: rgb(150, 155, 210);
    }
    img {
      width: 20px;
    }
    p {
      padding-top: 6px;
    }
  }
}
.header {
  display: none;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: var(--background);
  color: white;

  .header__elements,
  .header__element {
    display: flex;
  }
  .header__elements {
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
    height: 100%;
  }
  .header__element {
    &:nth-child(2) {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      width: 75%;
      justify-content: space-around;
      p:nth-child(1) {
        color: var(--maincolor);
        font-weight: bold;
      }
    }
    &:nth-child(3) {
      width: 10%;
      justify-content: space-between;
    }
  }
  .profil {
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    border-radius: 100%;
  }
  .element__logo {
    font-family: "Righteous", cursive;
    color: var(--maincolor);
    font-size: 28px;
  }
}

@include medium {
  .headerMobile {
    display: none;
  }

  .header {
    display: block;
  }
}
